<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Share Everything</title>
  </head>
  <body >
    <div class="mainapp" id="main-app">
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Let's Share...</h4>
            </div>
            <form v-on:submit.prevent="post_blog">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="blogTitle">Title</label>
                      <input
                        type="text"
                        class="form-control"
                        id="blogTitle"
                        placeholder="Enter Title"
                        v-model="newBlog.title"
                        required="required">
                    </div>
                    <div class="form-group">
                      <label for="blogText">Text</label>
                      <textarea
                        class="form-control"
                        id="blogText"
                        placeholder="Enter Text"
                        v-model="newBlog.text"
                        required="required"
                        rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Post</button>
                </div>
                </form>
            <!-- <div class="modal-body">
              <p>Some text in the modal.</p>
            </div> -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" style="">Close</button>
            </div> -->
          </div>

        </div>
      </div>
      <div class="page-header ml-3 mt-3 mb-5 sticky-top" style="background-color:white;">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="">Share Everything</h1>
          </div>
          <div class="col">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Share</button>
          </div>
          <div class="col">
            <h5 class="">nobin97</h5>
          </div>
          <div class="col">
            <h5 class="">Sign out</h5>
          </div>
        </div>
      </div>

      <div class="leaderboard ml-1 mr-3" id="leaderboard" style="float:right; width:23%;">
        <div class="card">
          <h3 class="ml-2 mt-1">LeaderBoard</h3>
          <div class="card mt-1 ml-3 mr-3 mb-3" v-for="(item, index) in leaderboard.data">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <h2>{{ index+1 }}</h2>
                </div>
                <div class="col-md-6">
                  <img :src="item.user.image_url" :alt="item.user.username" height=40 width="40" style="border-radius:50%;">
                  {{ item.user.username }}
                </div>
                <div class="col">
                  {{ item.score }}
                </div>
              </div>
            </div>
          </div>
          <div class="loading" v-if="lboard_loading===true">Hang on. We are Loading results...</div>
        </div>
      </div>
      <div class="container ml-5" id='main' style="max-width:70%;">
        <div class="card mb-3" v-for="blog in blogs.data" >
          <div class="card-body">
            <h2 class="card-title">{{ blog.title }}</h2>
            <small>{{ blog.created_at }} <img :src="blog.author.image_url" :alt="blog.author.username" height=25 width="25" style="border-radius:50%;">
           {{ blog.author.username }} ({{ blog.author.first_name }} {{ blog.author.last_name }}) </small>
            <p class="card-text mt-2">{{ blog.text }}</p>
            <hr>
            <div class="">
              <button class="btn btn-link" @click="up_vote(blog.id)"><img src="assets/images/claps.png" alt="Claps" height="30" width="30"></button>  {{ blog.upvote_count }}
            </div>
          </div>
        </div>
        <div class="loading" v-if="blogs.data===[]">0 Results Found. Come back later..</div>
        <div class="loading" v-if="loading===true">Hang on. We are Loading results...</div>
        <div class="loading" v-else-if="load_error===true">We are having trouble loading results at the moment. Try again later...</div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="main.js"></script>
  </body>
</html>
